@import "tailwindcss";

body {
  background-color: #191825;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}


/*Custom scrollbar*/
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #23213A;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5B7FFF;
  border-radius: 10px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-color: #5B7FFF #23213A;
  scrollbar-width: thin;
}

/* Pinterest-like grid */
/*.masonry-grid {*/
/*  column-count: 4;*/
/*  column-gap: 1.5rem;*/
/*}*/

/*.masonry-item {*/
/*  break-inside: avoid;*/
/*  margin-bottom: 1.5rem;*/
/*}*/


/*@media (max-width: 1280px) {*/
/*  .masonry-grid { grid-template-columns: repeat(3, 1fr); }*/
/*}*/
/*@media (max-width: 1024px) {*/
/*  .masonry-grid { grid-template-columns: repeat(2, 1fr); }*/
/*}*/
/*@media (max-width: 768px) {*/
/*  .masonry-grid { grid-template-columns: 1fr; }*/
/*}*/


/* Profile style */
.gradient-text {
  background: linear-gradient(to right, #5B7FFF, #A259FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-border-bottom {
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #5B7FFF, #A259FF);
}


/* Styles for auth fields*/
@layer utilities {
  .animate-pop-in {
    animation: popIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Styles for toasts */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
  }
  .animate-slide-out {
    animation: slideOut 0.3s ease-in forwards;
  }
}